<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BeeFEmx.My.MySettings.Valor" connectionString="Data Source=DESKTOP-9H72E5P;Initial Catalog=BeeFEmx;Persist Security Info=True;User ID=sa;Password=infonica"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>